{% extends '/exercises/show_exercise.html' %}


{% block exercise_content %}

<div class="container m-0 p-0">
    <div class="row align-items-md-stretch">  
        <div id="add-athlete" class="col-md-12">
        <div class="h-100 p-2 text-dark rounded-3">
            <h1 class="display-4 text-dark text-center tes2">Edit Exercise</h1>
        <form class="form" method="POST">
            {{ form.hidden_tag() }}
            <div class="row d-row align-self-center justify-content-center">
                <div>
                    <button class="btn btn-primary btn-customized btn my-2 " type="submit">SAVE</button>
                    <a class="btn btn-primary btn-customized-red btn my-2 " href="{{ url_for('.exercise_show', exercise_id=exercise.id)}}">CANCEL</a>
                </div>
                {% for field in form if field.widget.input_type != 'hidden'%}
                <div class="fs-5 col-12 col-sm-12 p-0 m-0">
                        {{field.label}}
                
                        {{field}}  
                    {% for err in field.errors %}
                    <small class="text-danger">
                        {{err}}
                    </small>
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="pt-3">
                    <button class="btn btn-primary btn-customized btn my-2 " type="submit">SAVE</button>
                    <a class="btn btn-primary btn-customized-red btn my-2 " href="{{ url_for('.exercise_show', exercise_id=exercise.id)}}">CANCEL</a>
                </div>

                <br>
                
            </div>
        </form>     
    </div>
</div>







{% endblock %} 