{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-sm-12 teams-container py-3">
        <div class="team-single-text padding-50px-left sm-no-padding-left">
     
            
            <div class="row">
                <div class="d-flex justify-content-center align-items-center col-md-12 col-12 mt-2">
                    <div class="flex-grow-1">
                        <i class="teams-fa-color fas fa-users mt-2 fa-3x"></i>
                        <h1 class="d-inline teams-fa-color display-5 px-1">Teams</h1>
                        <div class="d-inline">
                            <a class="btn btn-primary btn-customized mb-3" href="/teams/add">ADD</a>
                           
                        </div>
                    </div>
                    
                    <div class="pt-4">
                        <h6 class="tes2 text-center sm-font-size12 px-2">{{ user.full_name }}</h6>
                        <h6 class="tes2 text-center sm-font-size12 px-2">Joined: {{ user.friendly_date  }}</h6>
                    </div>
                </div>  
            </div>
            {% block teams_content %} {% endblock %}
            <div class="row">
                <div class="d-flex justify-content-center align-items-center col-md-12 col-12 mt-2">
                    <div class="col-md-12 col-12 mt-2">
                        {% for team in teams %}
                        <div class="card border rounded border-dark mb-2"> 
                            <div class="d-flex">
                                <div class="img-square-wrapper text-center">
                                    <img class="teams-team-image rounded-circle m-1" src="{{ team.team_image_url }}" alt="Card image cap">
                                </div>
        
                                <div class="text-center card-teams  fs-5">
                                    <a class="card-link  text-decoration-none" href="/teams/{{ team.id }}">
                                        <p class="card-title tes2 fs-4 mt-3 pt-4">{{ team.name }}</p> 
                                    </a>
                                    <p class="card-text tes2 ">LOCATION: {{ team.location }}</p>
                                    <h5 class="card-text tes2 py-2">ATHLETES</h5>
                                    <a class="btn btn-primary btn-customized " href="/teams/edit/{{ team.id }}">EDIT</a>
                                    <form  class="d-inline " action="/teams/delete/{{ team.id }}" method="POST">
                                        <button class="btn btn-customized-red btn d-inline" type="submit">DELETE</button>  
                                    </form>
                                 
                                </div>
    
                            </div>
                            
    
                            <div class="card-body text-dark"> 
                                
                            
                                
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Headshot</th> 
                                                <th scope="col">Full Name</th>
                                                <th scope="col">Height</th>
                                                <th scope="col">Weight</th>
                                                <th scope="col">Position</th>
                                                <th scope="col">Medical Status</th>
                                                <th scope="col">Start Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for athlete in team.athletes %}
                                           
                                                <tr>
                                                      
                                                    <th scope="row">Athlete ID {{ athlete.id }}</th>
                                                   
                                                        <td><a href="{{ url_for('.athlete_show', athlete_id=athlete.id )}}" class="page-links-dark"><img class="athlete-thumb card-link" src="{{ athlete.athlete_image_url }}" alt="Athlete-image"></a></td> 
                                                       
                                                        <td><a href="{{ url_for('.athlete_show', athlete_id=athlete.id )}}" class="page-links-dark"> {{ athlete.full_name }}</a> </td>
                                                        <td>{{ athlete.height }} </td>
                                                        <td>{{ athlete.weight }} </td>
                                                        <td>{{ athlete.position }}</td>
                                                        <td>{{ athlete.medical_status }}</td>
                                                        <td>{{ athlete.friendly_date }}</td>
                                                    
                                                </tr>
                                                                                            
                                        {% endfor %}                  
    
                                        </tbody>
                                    </table>
                                </div>
                            </div>               
                        </div>
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </div>    
    </div>

</div>





{% endblock %}