{% extends 'base.html' %}

{% block content %}


<div class="container">
    <!-- <div class="col-sm-12 workouts-container py-3"> -->
        <!-- <h1 class="text-dark text-center tes2 fs-3 mt-4"> WORKOUTS PAGE</h1> -->
        <div class="team-single-text padding-50px-left sm-no-padding-left">
     
            
            <div class="row">
                <div class="d-flex justify-content-center align-items-center col-md-12 col-12 mt-2">
                    <div class="flex-grow-1">
                        <i class="teams-fa-color fas fa-dumbbell mt-2 fa-3x"></i>
                        <h1 class="d-inline teams-fa-color display-5 px-1">Workouts</h1>
                        <a class="btn btn-primary btn-customized btn my-2 mb-4 " href="/workouts/add">ADD</a>
                     
                    </div>
                    
                    <div class="text-center pt-1">
                        <h6 class="d-inline tes2 text-center sm-font-size12 px-2">AHTLETE WORKOUTS</h6>
                        <a class="btn btn-primary btn-customized btn me-2" href="{{ url_for('.athlete_workouts_show') }} ">VIEW</a>
                        
                    </div>
                </div>  
            </div> 
        </div>
        {% for workout in workouts %}
        <div class="card bg-light m-2">
            <div class="row p-2">       
                    <div class="col-sm-12  p-2">
                        <a class="card-title card-link text-decoration-none" href="/workouts/{{ workout.id }}">
                            <h5 class="card-link tes2 fs-4 ps-3 pt-3 d-inline">{{workout.name}}</h5>
                        </a>
                    </div>
                    <div class="col-sm-2  ms-3">
                        <a class="btn  btn-customized  col-sm-1 my-2 mb-4 d-inline" href="/workouts/edit/{{workout.id}}">EDIT</a> 
                        <form  class="d-inline col-sm-1" action="/workouts/delete/{{ workout.id }}" method="POST">
                            <button class="btn btn-customized-red p-1 d-inline" type="submit">DELETE</button>  
                        </form>
                    </div>
                   
        
                     
            </div>
            <div class="col-sm-12  p-2 mb-3">
                <p class="text-small text-dark tes2 fs-5 ps-3 mb-0 pb-0"> Description: &ldquo;{{ workout.description}}&rdquo;</p>
            </div> 
            <div class="card-body text-dark"> 
                <div class="container">
            
                    <div class="row d-flex align-content-around flex-wrap">
                        {% for exercise in workout.workout_exercises %}
        
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            
                            <div class="card workout-exercise m-1 ">
                                <div class="card-body"> 
                                    <div class="card-contents">
                                        <p class="text-dark tes2">{{exercise.exercise.name.upper()}}</p>
                                    </div>
                                    <div class="image-wrapper">
                                        <a href="/exercises/exercise/{{ exercise.exercise.id }}" class="card-link">
                                            <img src="{{ exercise.exercise.image_url }}" alt="Image for workout" 
                                            class="card-img-bottom rounded rounded-3 ">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}     
                    </div>       
               </div>
            </div>
        </div>
        {% endfor %}
</div>

{% endblock %}


