{% extends '/athletes/show_athletes.html' %}


{% block athlete_workout_content %} 

<div class="container mt-5">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center col-md-12 col-12 mt-2">
            <div class="flex-grow-1">
                <i class="teams-fa-color fas fa-dumbbell mt-2 fa-3x"></i>
                <h1 class="d-inline teams-fa-color display-5 px-1">Workouts - Athlete Workouts</h1>
                <a class="btn btn-primary btn-customized btn my-2 mb-4 " href="/workouts/add">ADD</a> 
               
                <a class="btn btn-primary btn-customized btn my-2 mb-4" href="{{ url_for('.athlete_workouts_assign' ) }}">ASSIGN WORKOUT</a>  
            </div>
        </div>  
    </div> 
</div>

<div class="container">

    <div class="card-body text-dark"> 
    {% for team in teams %}     
        <div class="row">
            <div class="d-flex justify-content-center align-items-center col-md-12 col-12 mt-2">
                <div class="flex-grow-1">
                    <i class="teams-fa-color fas fa-users mt-2 fa-3x"></i>
                    <h1 class="d-inline teams-fa-color display-5 px-1">Assigned | team {{ team.name}}</h1>
                    <!-- <div class="d-inline">
                        <a class="btn btn-primary btn-customized mb-3" href="/teams/add">ADD</a>
                    
                    </div> -->
                </div> 
            </div>
        </div>        
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Workout Name</th>
                            <th scope="col">Athlete Name</th> 
                            <th scope="col">Headshot</th>
                            <th scope="col">Position</th>                        
                            <th scope="col">Team ID</th> 
                            <th scope="col">Medical Status</th>
                        </tr>
                    </thead>
                    <tbody>                  
                    {% for workout in workouts|selectattr('team_id') %}
                            {% if team.id == workout.team_id %}               
                                <tr>
                                    <td><strong>{{ workout[2] }}</strong></td>
                                    <td><a href="{{url_for('.workout_show', workout_id=workout[2]) }}" class="card-link">{{ workout.name }} </a> </td>
                                    <td>{{ workout.first_name}} {{ workout.last_name }} </td>
                                    <td><img class="athlete-thumb" src="{{ workout.athlete_image_url}}" alt="Athlete-image"></td> 
                                    <td>{{ workout.position }} </td>
                                    <td>{{ workout.team_id}} </td> 
                                    <td>{{ workout.medical_status }}</td>                                
                                </tr>
                            {% endif %}                                                               
                        {% endfor %}                  
                    </tbody>
                </table>
            {% endfor %}   
            </div>
        </div>          
    </div>   
</div>

{% endblock %}


    