{% extends '/base.html' %}


{% block content %} 


<div class="container mt-5 pt-3">
    <div class="container">
        <div class="card shadow col-sm-12 mb-2">
            <div class="row text-dark m-2 p-2">
                <div class="col-sm-12 border border-dark bg-light" >
                    <h5 class="pt-2  ">NEW WORKOUT NAME |  {{ workout.name}}</h5>
                    <h4 class="pt-2">EXERCISES IN WORKOUT</h4>
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover text-dark">
                                <thead>
                                    <tr>
                                        
                                        <th scope="col">ID</th> 
                                        <th scope="col">Exercise Name</th>
                                        <th scope="col">Primary Muscle</th>
                                        <th scope="col">Equipment</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Reps (Default=7)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exercise in workout.workout_exercises %}
                                    
                                        <tr>
                                            <th scope="d-flex row">{{ exercise.id }}</th>
    
                                                <td>{{ exercise.exercise.name }} </td>
                                                <td>{{ exercise.exercise.muscles.muscle_name}}</td>
                                                <td>{{ exercise.exercise.equipment.equipment_name}}</td>
                                                <td>{{ exercise.exercise.categories.category_name}}</td>
                                                <td>{{ exercise.exercise.default_reps}}</td>
                                                <td class= d-flex><a id="" href="{{ url_for('.exercise_edit', exercise_id=exercise.id)}}" 
                                                    class="btn btn-primary btn-customized btn ms-2 " type="button" >EDIT</a> 
                                                    <form action="{{ url_for('.exercise_delete', exercise_id=exercise.id ) }}" method="POST">
                                                        <a class="tooltips page-links-dark" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <button class="page-links-dark" type="submit" onclick="return confirm('Are you sure to delete this exercise?');" 
                                                                style="border: 0; background: none;"><i class=" bi bi-trash"></i>
                                                            </button>
                                                        </a> 
                                                    </form>  
                                                </td>                                   
                                        </tr>
                                            
                                {% endfor %}                  
                                </tbody>
                            </table>
                        </div>
                    </div> 
                    <div class="col-sm-12 m-2 p-2">
                        <button class="btn btn-primary btn-customized btn-lg ms-2 " type="button" data-bs-toggle="modal" data-bs-target="#workout-modal">VIEW WORKOUT</button>
                        <a id="completeBtn" href="{{ url_for('.workout_complete', workout_id=workout.id)}}" class="btn btn-primary btn-customized-green btn-lg ms-2 ">I'M DONE BUILDING</a>           
                    </div>       
                </div>
            </div>
        </div>
    </div>  
       
    <div class="container">
        <div class="card shadow col-sm-12 mb-2">
            <div class="row m-2 p-2">
                <div class="col-sm-12 border bg-light p-2">
                    <h2 class="tes2-lg text-dark text-center">ADD EXERCISE TO WORKOUT</h2>
                    <form class="form" action="{{ url_for('.workout_exercises_show', page_num=1)}}" method="POST">
                        {{ form.hidden_tag() }}
                        <div>
                            <h5 class="tes2 text-dark fs-5">SELECT | CATEGORY OF EXERCISE</h5>
                        </div>
                        <ul class="list-unstyled" id="workout-form-list">
                            <li class="pb-2">{{form2.categories.label}}{{form2.categories.category}}</li>
                            <li class="pb-2">{{form2.muscles.label}}{{form2.muscles.muscle}}</li>
                            <li class="pb-2">{{form2.equipment.label}}{{form2.equipment.equipment}}</li>
                        </ul>
                        <button class="btn btn-primary btn-customized btn p-2 " type="submit">SEARCH EXERCISES</button>
                    </form>    
                </div>
            </div>  
        </div>     
    </div>

  
    {% block show_exercises %} {% endblock %}

</div>  


<!-- MODAL WORKOUT PREVIEW -->
<div class="container">
    <div class="modal fade" id="workout-modal" role="dialog" tabindex="-1" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title  text-white mt-1" id="workout-modal">WORKOUT PREVIEW</h5>
                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center col-md-12 col-12 mt-2">
                            <div class="flex-grow-1">
                                <i class="teams-fa-color fas fa-dumbbell mt-2 fa-3x"></i>
                                <h1 class="d-inline teams-fa-color display-5 px-1">Workout</h1>
                            </div>
                            
                            <div class="pt-4">
                                <h6 class="tes2 text-center sm-font-size12 px-2">{{ g.user.full_name }}</h6>
                                <h6 class="tes2 text-center sm-font-size12 px-2">Joined: {{ g.user.friendly_date  }}</h6>
                            </div>
                        </div>  
                    </div> 
                    <div class="card bg-light m-2">
                        <div class="row justify-items-center">
                            <div class="d-flex align-items-center">
                                <div class="d-inline-flex row d-flex p-2">
                                    <a class="card-title card-link text-decoration-none" href="/workouts/{{ workout.id }}">
                                        <h5 class="card-link tes2 fs-4 ps-3 pt-3">{{workout.name}}</h5>
                                    </a>
                                    
                                    <p class="text-small text-dark tes2 fs-5 ps-3 mb-0 pb-0">&ldquo;{{ workout.description}}&rdquo;</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body text-dark"> 
                            <div class="container">
                                <div class="row d-flex align-content-around flex-wrap">
                                    {% for exercise in workout.workout_exercises %}
                    
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        
                                        <div class="card m-1 ">
                                            <div class="card-body"> 
                                                <div class="card-contents">
                                                    <p class="text-dark tes2">{{exercise.exercise.name.upper()}}</p>
                                                    <!-- <p class="text-dark"><img class="workout-img" src="{{exercise.exercise.image_url}}" alt=""></p> -->
                                                </div>
                                                <div class="image-wrapper">      
                                                    <a href="/exercises/exercise/{{ exercise.exercise.id }}" class="card-link">
                                                        <img class="img-thumbnail" src="{{exercise.exercise.image_url}}" alt="Image for workout">
                                                    </a>                                                            
                                                </div>
                                            
                                            </div>
                                        </div>
                                    </div>
                                    
                                    {% endfor %}     
                                </div>       
                            </div>
                        </div>                        
                    </div>            
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary btn-customized btn-lg ms-2" data-bs-dismiss="modal" type="button">CLOSE</a>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}

