@font-face {
    font-family: tesla;
    src: url(/static/fonts/TESLA.ttf);
}

@font-face {
    font-family: gotham;
    font-style: normal;
    /* font-weight: 400; */
    src: url(/static/fonts/Gotham-Font/GothamMedium_1.ttf)
}

body {
    padding: 0px;
    margin: 0px auto;
}

.tes1 {
    font-family: tesla;
    font-size: 1.2rem;
    font-style: oblique;
    object-position: middle;
    text-decoration: none;
}

.tes1-lg {
    font-family: tesla;
    font-size: 2rem;
    font-style: oblique;
    object-position: middle;
    text-decoration: none;
}

footer .tes1 {
    font-family: tesla;
    font-size: 1.2rem;
    font-style: oblique;
    object-position: middle;
    color: white;
}

.tes2 {
    font-family: gotham;
    font-size: 0.85rem;
    font-weight: 400;
    object-position: middle;
    margin: 0px auto;
    padding: 0px;
}

.tes2-md {
    font-family: gotham;
    font-size: 1rem;
    font-weight: 400;
    object-position: middle;
    margin: 0px auto;
    padding: 0px;
}

.tes2-lg {
    font-family: gotham;
    font-size: 1.5rem;
    font-weight: 400;
    object-position: middle;
    margin: 0px auto;
    padding: 0px;
}

.display-4.tes2 {
    font-family: gotham;
    font-size: 2.2rem;
    font-weight: 100;
}

.top-title.tes2 {
    font-family: gotham;
    font-size: 1.2rem;
    font-weight: 100;
}

.display-1.tes2 {
    font-family: gotham;
    font-size: 1.75rem;
    font-weight: 100;
    margin: 0px auto;
    padding: 0px;
}

.navbar-brand {
    padding: 0;
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    line-height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(148, 148, 148);
}

a.page-links-dark {
    color: black;
    text-decoration: none;
}

a.page-links-dark:hover {
    color: rgb(148, 148, 148);
}

a.page-links-light,
i.page-links-light,
footer li a {
    color: rgb(255, 255, 255);
}

a.page-links-light:hover,
i.page-links-light:hover,
footer li a:hover {
    color: #8d3ff3;
    color: #572796;
}

.logo1 {
    /* padding: 20px 40px; */
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.logo2 {
    /* padding: 20px 40px; */
    border-bottom: 1px solid #444;
    transition: all .3s;
}

.logo1 {
    display: inline-block;
    width: 90px;
    height: 40px;
    background: url(/static/images/clipart1066235.png) center center no-repeat;
    background-size: 40%;
    border: 0;
    /* text-indent: -999999px; */
}

.quicklinks:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;

}




/* FORMS */

.form-control:focus {
    border-color: #572796;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.bg-login {
    background: url('/static/images/brett-jordan-NAENofLAWjE-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-register {
    background-color: white;
    background: url('/static/images/helen-thomas-GYwI6WeTDXY-unsplash.jpg') no-repeat bottom center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-workouts {
    background-color: white;
    background: url('https://res.cloudinary.com/gym-hero/image/upload/c_scale,h_1233/v1619377386/Form-Background-images/sven-mieke-jO6vBWX9h9Y-unsplash_1_vwh0vx.jpg') no-repeat bottom center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* BUTTONS CSS */

button.btn-customized,
a.btn-customized {
    /* margin-left: 35px;
    margin-right: 5px;
    margin-top: 35px; */


    background: #8d3ff3;
    background: #572796;
    border: 0;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    padding-right: .5rem;
    padding-left: .5rem;
    /* margin: .5rem: */
}

button.btn-customized-green,
a.btn-customized-green {
    /* margin-left: 35px;
    margin-right: 5px;
    margin-top: 35px; */
    /* padding: .35rem .75rem; */

    background: #7bb343;
    border: 0;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    padding-right: .5rem;
    padding-left: .5rem;
}

button.btn-customized-red,
a.btn-customized-red {
    /* margin-left: 35px;
    margin-right: 5px;
    margin-top: 35px; */
    /* padding: .35rem .75rem; */

    background: #be2841;
    border: 0;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    box-shadow: none;
    padding-right: .5rem;
    padding-left: .5rem;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus button.btn-customized:hover,
button.btn-customized:hover,
button.btn-customized:active,
button.btn-customized:focus,
button.btn-customized:active:focus,
button.btn-customized.active:focus,
button.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #000000;
    border: 0;
    color: #fff;
    box-shadow: none;
    padding-right: .5rem;
    padding-left: .5rem;
}

a.btn-customized-green:hover,
a.btn-customized-green:active,
a.btn-customized-green:focus,
a.btn-customized-green:active:focus,
a.btn-customized-green.active:focus,
a.btn-customized-green.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-green.btn.btn-primary:not(:disabled):not(.disabled):active:focus button.btn-customized:hover,
button.btn-customized-green:hover,
button.btn-customized-green:active,
button.btn-customized-green:focus,
button.btn-customized-green:active:focus,
button.btn-customized-green.active:focus,
button.btn-customized-green.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn-customized-green.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #000000;
    border: 0;
    color: #fff;
    box-shadow: none;
    padding-right: .5rem;
    padding-left: .5rem;
}

a.btn-customized-red:hover,
a.btn-customized-red:active,
a.btn-customized-red:focus,
a.btn-customized-red:active:focus,
a.btn-customized-red.active:focus,
a.btn-customized-red.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-red.btn.btn-primary:not(:disabled):not(.disabled):active:focus button.btn-customized:hover,
button.btn-customized-red:hover,
button.btn-customized-red:active,
button.btn-customized-red:focus,
button.btn-customized-red:active:focus,
button.btn-customized-red.active:focus,
button.btn-customized-red.btn.btn-primary:not(:disabled):not(.disabled):active,
button.btn-customized-red.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
    outline: 0;
    background: #000000;
    border: 0;
    color: #fff;
    box-shadow: none;
    padding-right: .5rem;
    padding-left: .5rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}

.item1 {
    background: url('/static/images/lucas-favre-JnoNcfFwrNA-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item2 {
    background: url('/static/images/karsten-winegeart-WO_th3WRJvw-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item3 {
    background: url('/static/images/cathy-pham-3jAN9InapQI-unsplash.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/* FOOTER */

.footer-base {
    background-color: black;
}



/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS */

@media (min-width: 40em) {

    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }


    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* MODALS CSS  */

#workout-modal {
    width: 100%;
    height: 100%;
}

#edit-modal {
    width: 100%;
    height: 100%;
}


.modal-header {
    background-color: black;

}

.modal-body {
    background-color: #e9ecef;
    border-color: #e9ecef;
    color: black;

}



.intro-1 {
    font-size: 20px
}

.close {
    color: #fff
}

.close:hover {
    color: #fff
}

.intro-2 {
    font-size: 13px;

}

/* USER PROFILE CSS  */

.profile-img {
    height: 203px;
    width: 200px;
    top: -125px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .5);
}

.nav-user-img {
    height: 26px;
    width: 26px;
    border: 1px solid rgba(0, 0, 0, .5);

}

.nav-user-img:hover {
    height: 26px;
    width: 26px;
    border: 2px solid rgba(0, 0, 0, .5);
    opacity: 0.5;
}

.header-img {
    /* background: url('/static/images/felipe-giacometti-ziaGSKwdzn8-unsplash-large.jpg') no-repeat top center fixed; */
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.profile-container {
    /* position: relative; */
    color: black;
}

/* ATHLETE CARDS - ATHLETES VIEWCSS  */

.card-athlete {
    height: 27rem;
}

/* .card-athlete-img {
    height: 100%;
    width: 100%;

} */
.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


/* EXERCISE CARD CSS  */

.exercise-card {
    height: 165px;
}

.exercise-card:hover,
.exercise-card-focus {

    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.1);
    color: #8d3ff3;
    color: #572796;
    border-color: black;
}

/* TEAM CARDS - USER PROFILE CSS  */

/* .user-team-card {
    height: 160px;
} */

.user-team-card:hover,
.user-team-card:focus {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.1);
    color: #8d3ff3;
    color: #572796;
    border-color: black;
}



.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.team-image {
    top: 0px;
    position: relative;
    height: 120px;
    width: 120px;
}

.profile-text {
    top: -125px;
    position: relative;
}

.teams-container {
    color: rgba(0, 0, 0, 1);
}

a.card-link,
.card-teams a.card-link {
    color: #000000;
}

a.card-link:hover,
.card-teams a.card-link:hover {
    color: #8d3ff3;
    color: #572796;
}


/* TEAM TABLE - TEAMS CSS  */

.teams-team-image {
    padding: 20px;
    height: 150px;
    width: 150px;
}

.teams-fa-color {
    border-color: #8d3ff3;
    color: #572796;
}

.athlete-card {
    background-image: var(--bs-gradient);
}

.athlete-thumb {
    height: 4rem;
    width: 4rem;
}

.team-coach-img {
    height: 4rem;
    width: 4rem;
}




/* WORKOUTS CSS */

.workouts-container {
    color: rgba(0, 0, 0, 1);
}

.workout-exercise:hover,
.workout-exercise:focus {
    background-color: rgba(0, 0, 0, 0.1);
    color: #8d3ff3;
    color: #572796;
    border-color: black;
}

.image-wrapper {
    height: 300px;
    object-fit: cover;
    object-position: center;
}

/* SPINNER */


@keyframes spinner-border {
    to {
        transform: rotate(360deg)
    }
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: none;
    }
}

/* EXERCISE CARD */

div.description {
    display: inline-flex;
    margin-left: 1rem;

}

/* WORKOUT BUILDER */
.workout-builder-title {
    color: #7bb343;
    font-weight: 800;

}