{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        
    <div class="cell small-10 small-centered medium-6">
        <h1>We are experiencing some issues... we are sorry.</h1>
        <iframe src="https://giphy.com/embed/RJz880umeI8e3PXnzt" width="480" height="480" frameBorder="0" 
        class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/thehappysensitive-computer-problems-tech-fail-issues-RJz880umeI8e3PXnzt">via GIPHY</a></p>
    </div>

    </div>
</div>
{% endblock %}


