{% extends 'base.html' %}

{% block content %}

<!-- QUICKLINKS -->

<div class="container py-2">
    <div class="card py-2 px-1 ">
        <div class="row">
            <div class="col col-sm-6 align-self-center">
                <a href="/timers" class="quicklinks d-flex justify-content-center text-dark text-decoration-none tes2 p-1">
                    <div class="d-flex align-items-center tes2">
                        <i class="fs-2 far fa-clock me-4"></i> 
                        <span>Use the timers for your workout. No registration required!</span>  
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 align-self-center">
                <a href="/" class="quicklinks d-flex justify-content-center text-dark text-decoration-none tes2 p-1">
                    <div class="d-flex align-items-center tes2">
                        <i class="fs-2 fas fa-dumbbell me-4"></i> 
                        <span>Choose a pre-made workout. No registration required!</span>  
                    </div>
                </a>
            </div>
        </div>
    </div>

<!-- AUTH FORMS -->

<div id="register-link" class="container mt-2 mb-4 px-0">
    {% block content1 %}  {% endblock %}
</div>

<div id="login-link" class="container mt-2 mb-4 px-0">
    {% block content2 %}  {% endblock %}
</div>


<!-- CAROUREL -->

    <div id="myCarousel" class="carousel carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner item1">
            <div class="carousel-item active">
            
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1 class="display-4 tes2 mx-1 px-1">Performance Management</h1>
                    <p class="col-md-8 tes2 mx-1 px-1">Lightweight Athlete Management Application.</p>  
                    <!-- <p class="col-md-8 display-2 tes2 m-1 p-1">Easy and Simple Team Management Tool.</p> -->
                    <p class="col-md-8 tes2 d-inline mx-2 py-3">Try it! It's FREE. Build your team.</p>
                    <a id="register-carousel-link" class="btn btn-primary btn-customized btn-lg ms-2" href="#register" type="button">REGISTER NOW!</a>
                </div>
            </div>
        </div>

        <div class="carousel-item item2">  
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="display-4 tes2 mx-1 px-1">Register and create your team.</h1>
                    <p class="col-md-12 tes2 mx-1 px-1">Built for Coaches. Simple to use in realtime.</p>
                    <button class="btn btn-primary btn-customized btn-lg ms-2 " type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">LEARN MORE</button>
                </div>
            </div>
        </div>

        <div class="carousel-item item3">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1 class="display-4 tes2 mx-1 px-1">Track your Athletes Progress. </h1>
                    <p class="col-md-12 tes2 mx-1 px-1">Focus on the Basics. View simple data analysis.</p>
                    <button class="btn btn-primary btn-customized btn-lg ms-2 " type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">LEARN MORE</button>
                </div>
            </div>
        </div>

        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    

    <div class="container border border-dark" style="height: 400px"></div>


    <!-- LEARN MORE teams modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title me-auto text-white mt-1" id="staticBackdropLabel">CREATE A TEAM</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center mt-2 fa-10x"><i class="fas fa-users"></i> </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 tes2 fs-4"> <span class="intro-1">Team Creation</span>
                        <div class="mt-2 tes2 m-0"> <span>To create a team simply register and select "CREATE A TEAM".
                                                                You will be prompted to fill-out a series of forms to input your teams information.
                                                                The information required will be about your team (Ex: name, location, disciple, etc..) and 
                                                                about your athletes (name, height, weight, position, etc..)</span> </div>
                        <div class="mt-4 tes2 mb-5"> <button class="btn btn-primary btn-customized pt-3">CREATE A TEAM<i class="fa fa-cloud-download"></i></button> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary btn-customized btn-lg ms-2" data-bs-dismiss="modal" type="button">CLOSE</a>
        </div>
        </div>
    </div>
    </div>



    <!-- LEARN MORE athletes modal -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-white mt-1" id="staticBackdropLabel">MONITOR YOUR ATHLETES</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center mt-2 fa-10x"><i class="fas fa-running"></i> </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-4 tes2 fs-4"> <span class="intro-1">Athlete Tracking</span>
                            <div class="mt-2 tes2 m-0"> <span>Once your team is created, start adding workouts for your athletes.  Track
                                                                the sessions and your athletes RPE (Rate of Perceived Exersion).  Using the dashboard,
                                                                quicly view your athletes workload over time.  Build custom workouts, add exercises, use the
                                                                timers to run your metabolic sessions.</span> </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <a class="btn btn-primary btn-customized btn-lg ms-2" data-bs-dismiss="modal" type="button">CLOSE</a>
            </div>
        </div>
        </div>
    </div>

    

{% endblock %} 