{% extends 'base.html' %}

{% block content %}

<!-- QUICKLINKS -->

<div class="container">
    <div class="card py-2 px-1 ">
        <div class="row">
            <div class="col col-sm-6 align-self-center">
                <a href="/timers" class="quicklinks d-flex justify-content-center text-dark text-decoration-none tes2 p-1">
                    <div class="d-flex align-items-center tes2">
                        <i class="fs-2 far fa-clock me-4"></i> 
                        <span>Use the timers for your workout. No registration required!</span>  
                    </div>
                </a>
            </div>
            <div class="col col-sm-6 align-self-center">
                <a href="/workouts" class="quicklinks d-flex justify-content-center text-dark text-decoration-none tes2 p-1">
                    <div class="d-flex align-items-center tes2">
                        <i class="fs-2 fas fa-dumbbell me-4"></i> 
                        <span>Choose a pre-made workout. No registration required!</span>  
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- AUTH FORMS -->

<div id="register-link" class="container mt-2 mb-4 px-0">
    {% block content1 %}  {% endblock %}
</div>

<div id="login-link" class="container mt-2 mb-4 px-0">
    {% block content2 %}  {% endblock %}
</div>


<!-- CAROUREL -->

    <div id="myCarousel" class="carousel slide m-0 p-0" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/static/images/carousel-images/lucas-favre-1100-unsplash-1.jpg" alt="..." class="d-block w-100">
            <div class="row no-gutters">
                <div class="carousel-caption text-start d-none d-md-block">
                    <h1 class="featurette-heading fs-4 mx-1 px-1">Performance Management</h1>
                    <p class="col-md-8 fs-6 mx-1 px-1">Lightweight Athlete Management Application.</p>  
                    <p class="col-md-8 d-inline  d-md-block mx-2 py-3">Try it! It's FREE. Build your team.</p>
                    <a class="col-2 d-none d-lg-block btn btn-primary btn-customized btn p-2 my-2 fs-6" href="{{ url_for('.register_user') }}">REGISTER NOW!</a>
                </div>
            </div>
        </div>

        <div class="carousel-item ">
            <img src="/static/images/carousel-images/cathy-pham-1100-unsplash-1.jpg" alt="..." class= "d-block w-100">
            <div class="row no-gutters">
                <div class="carousel-caption d-none d-md-block">
                   
                        <h1 class="featurette-heading fs-4 mx-1 px-1">Track your Athletes Progress.</h1>
                        <p class="d-md-block fs-6 mx-1 px-1">Focus on the Basics. View simple data analysis.</p>
                        <button class="d-none d-md-block btn btn-primary btn-customized btn-lg ms-2 " type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">LEARN MORE</button>
                 
                </div>
            </div>
        </div>

        <div class="carousel-item ">  
            <img src="/static/images/carousel-images/karsten-winegeart-1100-unsplash-1.jpg" alt="..." class="d-block w-100">
            <div class="row no-gutters">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="featurette-heading fs-4 mx-1 px-1">Register and create your team.</h1>
                    <p class="col-md-12 d-md-block fs-6 mx-1 px-1">Built for Coaches. Simple to use in realtime.</p>
                    <button class="d-none d-lg-block btn btn-primary btn-customized btn-lg ms-2 " type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">LEARN MORE</button>
                </div>
            </div>
        </div>

        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



    <!-- <div class="container border border-dark" style="height: 400px"></div> -->
    <div class="container col-xxl-10 px-4 ">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-12 col-sm-12 col-lg-6">
            <img src="/static/images/screenshots/athlete-view-screenshot.png" class="d-block mx-lg-auto img-fluid" alt="user-view" width="1000" height="" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Athlete Dashboard - Assign a workout!</h1>
            <p class="lead">Quickly design and customize a workout. Assign the workout to your athlete and track the completion status.</p>

          </div>
        </div>
      </div> 




      
         

      <div class="container py-2" id="icon-grid">
        <h2 class="pb-2 border-bottom">Features</h2>
      
        <div class="row row-cols-2 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
              </svg>
            <div>
              <h4 class="fw-bold mb-0">Lightweight Design</h4>
              <p>Lightweight Performance Management Application.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.356 3.356a1 1 0 0 0 1.414 0l1.586-1.586a1 1 0 0 0 0-1.414l-3.356-3.356a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0zm9.646 10.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708zM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11z"/>
              </svg>
            <div>
              <h4 class="fw-bold mb-0">Workouts</h4>
              <p>Select a pre-built workout or build a custom one.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-stopwatch" viewBox="0 0 16 16">
                <path d="M8.5 5.6a.5.5 0 1 0-1 0v2.9h-3a.5.5 0 0 0 0 1H8a.5.5 0 0 0 .5-.5V5.6z"/>
                <path d="M6.5 1A.5.5 0 0 1 7 .5h2a.5.5 0 0 1 0 1v.57c1.36.196 2.594.78 3.584 1.64a.715.715 0 0 1 .012-.013l.354-.354-.354-.353a.5.5 0 0 1 .707-.708l1.414 1.415a.5.5 0 1 1-.707.707l-.353-.354-.354.354a.512.512 0 0 1-.013.012A7 7 0 1 1 7 2.071V1.5a.5.5 0 0 1-.5-.5zM8 3a6 6 0 1 0 .001 12A6 6 0 0 0 8 3z"/>
              </svg>
            <div>
              <h4 class="fw-bold mb-0">Fitness Timer</h4>
              <p>Simple Fitness Timer to use easily.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-shield-shaded" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 14.933a.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067v13.866zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
              </svg>
            <div>
              <h4 class="fw-bold mb-0">Teams</h4>
              <p>Keep track of your teams. Modify as needed.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
              </svg>
            <div>
              <h4 class="fw-bold mb-0">Athletes</h4>
              <p>Keep track of your athletes. Update their status.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em" fill="currentColor" class="bi bi-speedometer" viewBox="0 0 16 16">
                <path d="M8 2a.5.5 0 0 1 .5.5V4a.5.5 0 0 1-1 0V2.5A.5.5 0 0 1 8 2zM3.732 3.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 8a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 7.31A.91.91 0 1 0 8.85 8.569l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
                <path fill-rule="evenodd" d="M6.664 15.889A8 8 0 1 1 9.336.11a8 8 0 0 1-2.672 15.78zm-4.665-4.283A11.945 11.945 0 0 1 8 10c2.186 0 4.236.585 6.001 1.606a7 7 0 1 0-12.002 0z"/>
              </svg>
            <div>
              <h4 class="fw-bold mb-0">Track Assigments</h4>
              <p>Assign workouts and keep track of completion.</p>
            </div>
          </div>
        </div>
      </div>

    <!-- LEARN MORE teams modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title me-auto text-white mt-1" id="staticBackdropLabel">CREATE A TEAM</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center mt-2 fa-10x"><i class="fas fa-users"></i> </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-4 tes2 fs-4"> <span class="intro-1">Team Creation</span>
                        <div class="mt-2 tes2 m-0"> <span>To create a team simply register and select "CREATE A TEAM".
                                                                You will be prompted to fill-out a series of forms to input your teams information.
                                                                The information required will be about your team (Ex: name, location, disciple, etc..) and 
                                                                about your athletes (name, height, weight, position, etc..)</span> </div>
                        <div class="mt-4 tes2 mb-5"> <button class="btn btn-primary btn-customized pt-3">CREATE A TEAM<i class="fa fa-cloud-download"></i></button> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary btn-customized btn-lg ms-2" data-bs-dismiss="modal" type="button">CLOSE</a>
        </div>
        </div>
    </div>
    </div>



    <!-- LEARN MORE athletes modal -->
    <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title text-white mt-1" id="staticBackdropLabel">MONITOR YOUR ATHLETES</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-right"> <i class="fa fa-close close" data-dismiss="modal"></i> </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center mt-2 fa-10x"><i class="fas fa-running"></i> </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-4 tes2 fs-4"> <span class="intro-1">Athlete Tracking</span>
                            <div class="mt-2 tes2 m-0"> <span>Once your team is created, start adding workouts for your athletes.  Track
                                                                the sessions and your athletes RPE (Rate of Perceived Exersion).  Using the dashboard,
                                                                quicly view your athletes workload over time.  Build custom workouts, add exercises, use the
                                                                timers to run your metabolic sessions.</span> </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <a class="btn btn-primary btn-customized btn-lg ms-2" data-bs-dismiss="modal" type="button">CLOSE</a>
            </div>
        </div>
        </div>
    </div>

    

{% endblock %} 